ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  margin-top: 20px;
  left: 0;
  right: 0;
  top: 50%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#container ion-card {
  width: 300px;
  height: 510px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.detail-button {
  margin-top: 16px; 
}

.small-title {
  font-size: 1rem;
}

.justified-content {
  text-align: justify;
}